html{
	background-color: #1c1c1d;
}

#container{
	
	margin:0 auto;
	font-family:helvetica;
	font-size:18px;
	color:#ffffff;
	width:400px;
	text-align: center;
	padding-top:20px;
}

#container.mobile{
	padding-top:40px;
	font-size:50px;
	width:90%;
}

.logo{

	width:60px;
	display:inline-block;
	vertical-align: middle;
	margin-left:5px;
}

#container.mobile > .logo{

	width:150px;
	display:inline-block;
	vertical-align: middle;
	margin-left:15px;
}

h1{
	font-size:25px;
}

p{
	text-align: center;
	margin:0;
	padding:0;
}

p.title{
	/*margin-top:30px;*/
	/*margin-bottom:15px;*/
	vertical-align: middle;
	font-size: 30px;
	display:inline-block;
}

#container.mobile > p.title{
	font-size:90px;
}

p.intro{
	margin-top:20px;
}

#container.mobile > p.intro{
	margin-top:60px;
}

.previews{
	width:200px;
	margin:25px 0 20px 0;
}

#container.mobile > .previews{
	width:60%;
	margin:50px 0 40px 0;
}

.appstore{
	width:180px;
	cursor:pointer;
	margin-bottom:10px;
}

#container.mobile > .appstore{
	width:60%;
}

a{
	text-decoration: none;
	cursor:pointer;
	color:#ffffff;
}

#container.mobile > a{
	display:block;
	margin:50px 0 150px 0;
}